

p {color:white;
}
 h1 {
            font-family: Arial, sans-serif;
            max-width: 800;
            margin: auto;
            padding: 20;
            color:white;

        }
        header, nav, main, section, footer {
            margin-bottom: 20;
        }
        h2 {
            margin-right: 10;
            text-decoration: none;
            color:red;
        }
        img {
            width: 150%;
            max-width: 300px;
            display: block;
            margin-bottom: 10;
        }

body {background-color:black;,
} 
li {color:white }




h3 {color:white }
